@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
	margin:0;padding:0;
}
p{word-break: break-all;word-wrap: break-word;}
body {font-size:12px;line-height:1.5;font-family:"Microsoft YaHei",SimSun,Tahoma,Verdana,Arial,sans-serif;font-weight: normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
b{font-weight: normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
ul,ol,li{list-style:none;word-wrap:break-word;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;color:#888;}
/*a:hover{color:#4ec0e5;}*/
a img{border:0;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration: line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted #000;cursor:help;}
/* tables still need 'cellspacing="0"' in the markup */ 
table {border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select,textarea{vertical-align:middle;}
input{padding: 5px 0;}
textarea{resize: none;}


/*common*/
body{color:#444;}
a{text-decoration:none;}
input,select,textarea{color:#888888;font-size:12px;}
input[type=radio],input[type=checkbox]{margin-top:-2px;}
.lbl{display:inline-block;}
.lbl70{width:70px;}
.lh30{line-height: 30px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr40{margin-right:40px;}
.mr80{margin-right:80px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml40{margin-left:40px;}
.ml80{margin-left:80px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb40{margin-bottom: 40px;}
.mb80{margin-bottom: 80px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt40{margin-top: 40px;}
.mt80{margin-top: 80px;}
.pl100{padding-left: 100px;}
.pl60{padding-left: 60px;}

.ver-t{vertical-align: top;}

.btn,.cancelBtn,.okBtn{display:inline-block;background:#ef9b0f;padding: 3px 10px;font-size: 14px;cursor: pointer;color:#fff;border-radius: 5px;border: none;}
.btnBlue,.cancelBtn{background:#A4ACB9;}
.btnGray{background:#A4ACB9;}
.orange{color: orange;}
.red{color: #b01111;}
.blue{color: #59a9d2;}
.green{color: green;}
.gray{color: gray;}
.bgblue{background-color: #87D1FE;vertical-align:middle;padding: 3px 10px;}
.bgred{background-color: #b01111;}

/*分页*/
.pageNavi{margin: 10px 0;text-align:center;color:#aaa;}
.pageNavi a{display:inline-block;margin: 0 2px;border-radius:4px;background-color:#d3d3d3;color:#fff;padding: 0 12px;height:22px;line-height:22px;}
.pageNavi .page_prev,
.pageNavi .page_next{padding: 0;width: 45px;height: 22px;line-height: 22px;background: #9dbccf;color: #fff;text-align:center;}
.pageNavi .page_first,
.pageNavi .page_last{background-color: #9dbccf;}
.pageNavi .curr{background: #87d1fe;padding: 0 8px;border-color: #4c8dc3;height:22px;line-height:22px;}

/* 分页old */
#flip{padding:10px;overflow:hidden;zoom:1;}
#flip .pageInfo,#flip .pagination{float:right;}
#flip .pageInfo{height:30px;line-height:30px;color:#a8a8a8;}
#flip .pageInfo span{color:#34495e}
#flip .pagination{padding:3px 0;margin-right:20px;}
#flip .delect{color:#FF0000;font-family:Arial;}
#flip .pageL{float:left;height:30px;line-height:30px;font-size:14px;}
#flip .pageL .opt{display:inline-block;width:70px;height:30px;line-height:30px;text-align:center;background:url('/public/img/classroom/admin/btn_03.png') no-repeat;}
.pagination{overflow:hidden;zoom:1;font-size:12px;	}
.pagination ul{overflow:hidden;zoom:1;}
.pagination div{height:22px;line-height:22px;}
.pagination ul li{list-style-type:none;float:left;margin:0 2px;height:22px;padding:0 3px;background:#d3d3d3;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.pagination ul li a{display:block;text-decoration:none;line-height:22px;padding:0 8px;text-align:center;color:#fff;outline:none;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.pagination ul .current{padding:0 8px;color:#FFF;background-color:#87d1fe;border-color:#4c8dc3;text-align:center;line-height:22px;	}
.pagination ul .etc{padding:0 2px;color:#fff;padding:0 3px;text-align:center;line-height:22px;}
.pagination ul .pageButton{text-align:center; display:block;background:#9dbccf; }
.pagination ul .pageButton,.pagination ul .pageButton a{padding:0;width:45px;height:22px;line-height:22px;background:#9dbccf;color:#fff;	  }
.pagination ul .disabled{display:block;text-decoration:none;text-align:center;	}


.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"";display:block;}
/*.myDialog{box-shadow:2px 2px 0 rgba(132,153,183,.6);}*/
.dialog_Wrap{box-shadow: 1px 2px 2px #bbb;}
.dialog_Head{background-color:#42bae5;height:35px;line-height:35px;color:#fff;cursor:move;font-size:18px;text-align: center;}
.dialog_Body{background-color:#fff;border:1px solid #42bae5;box-shadow: }
.dialog_Body .tipInner{width: 270px;margin: 0 auto;}
.dialog_Body .id,
.dialog_Body .pwd
{width:270px;height:24px;margin-bottom: 10px;}
.dialog_Body .id{margin-top: 25px;}
.dialog_Body .autoLogin{}
.dialog_Body .tipInner .login{display:block;width: 100px;height:36px;font-size:20px;border: none;color:#fff;background-color: #ff9600;border-radius: 3px;margin: 0 auto;margin-top:20px;cursor: pointer;}
.dialog_Cont{padding:10px;word-break:break-all;}
.dialog_Inner{padding:20px;}
.dialog_Opts{position:absolute;top:7px;right:8px;}
.dialog_Opts a{float:right;width:12px;height:12px;overflow:hidden;font-size:0;line-height:0;margin-top: 5px;margin-right: 5px;}
.dialog_Opts .dialog_zoom{display:none;background:url(../../public/img/common/win_close.gif) 0 0 no-repeat;}
.dialog_Opts .dialog_close{background:url(../../public/img/common/win_close.gif) 0 0 no-repeat;outline:none;}
/*.dialog_Opts .dialog_close:active{background:url(../public/img/classroom/win_close.png) no-repeat 0 -31px;}*/
.dialog_Btns{padding-top:10px;text-align:center;}
.converIframe{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;filter:Alpha(Opacity=0);opacity:0;}
.dialog_Cont i{font-style:normal;}

/* 表情 */
#smileBox{position:absolute;z-index:100;padding:3px 6px 10px;background:url("../img/teacher/bg_face.png") no-repeat;}
#smileBox ul{width:248px;height:191px;overflow:hidden;background:#fff;}
#smileBox li{float:left;}
#smileBox li img{display:block;width:25px;padding:2px;border:1px solid #fff;cursor:pointer;}
#smileBox li img:hover{border-color:#DFE6F6;}
#msgFace_ie6{position:absolute;z-index:-1;left:0;top:0;width:248px;height:191px;}

/* 图片弹窗 */
.lightFull{overflow:hidden;}
#lightWrap{color:#fff;margin:0 auto;position:absolute;top:0;height:100%;width:100%;z-index:1000;font-family:icon;}
#lightWrap .cont{position:relative;z-index:2;margin:30px;padding:20px;background:#000;text-align:center;}
#lightWrap .next,#lightWrap .prev{height:100%;line-height:100%;color:#fff;vertical-align:middle;font-size:60px;font-weight:bold;padding:0 10px;}
#lightWrap .prev{}
#lightWrap .cont img{vertical-align:middle;max-width:90%;max-height:90%;}
#lightWrap .info{text-align:right;}
#lightWrap .close{position:absolute;right:-10px;top:-10px;width:30px;height:30px;text-indent:-100px;overflow:hidden;background:url("../img/index/close.png") no-repeat;}
#lightWrap .mask{position:absolute;width:100%;height:100%;z-index:1;background:rgba(0,0,0,0.5);}

/* 评分 */
.star-rating{background: url("../img/index/starIcon.gif") repeat-x scroll 0 -14px rgba(0, 0, 0, 0);display: inline-block;height: 14px;position: relative;width: 80px;vertical-align: top;margin-top: 3px;}
.current-rating{background: url("../img/index/starIcon.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);height: 14px;position: absolute;z-index: 1}
.star1{width: 8px;}
.star2{width: 16px;}
.star3{width: 24px;}
.star4{width: 32px;}
.star5{width: 40px;}
.star6{width: 48px;}
.star7{width: 56px;}
.star8{width: 64px;}
.star9{width: 72px;}
.star10{width: 80px;}

.star-rating{position:relative;display:inline-block;width:80px;height:14px;background:url(../img/index/starIcon.gif) repeat-x 0 -14px;}
.star-rating li{float:left;padding:0 !important;}
.star-rating li a{position:absolute;width:8px;height:14px;z-index:20;background-image:none;outline:none;}
.star-rating li a:hover{left:0;z-index:1;background:url(../img/index/starIcon.gif) 0 0;}
.star-rating a.star1{left:0;}

.star-rating a.star2 {left:8px;}
.star-rating a.star3 {left:16px;}
.star-rating a.star4 {left:24px;}
.star-rating a.star5 {left:32px;}
.star-rating a.star6 {left:40px;}
.star-rating a.star7 {left:48px;}
.star-rating a.star8 {left:56px;}
.star-rating a.star9 {left:64px;}
.star-rating a.star10{left:72px;}
.star-rating a.star1:hover {width:8px;}
.star-rating a.star2:hover {width:16px;}
.star-rating a.star3:hover {width:24px;}
.star-rating a.star4:hover {width:32px;}
.star-rating a.star5:hover {width:40px;}
.star-rating a.star6:hover {width:48px;}
.star-rating a.star7:hover {width:56px;}
.star-rating a.star8:hover {width:64px;}
.star-rating a.star9:hover {width:72px;}
.star-rating a.star10:hover{width:80px;}
.current-rating{position:absolute;z-index:1;height:14px;background:url(../img/index/starIcon.gif) 0 0;}